<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>登陆界面</h1>
<form>
    <input type="text" name="name" id="name">
    <input type="password" name="pass" id="pass">
    <input type="button" value="ok" id="btn">
</form>

<script src="js/jquery-3.1.0.min.js"></script>
<script>
    $("#btn").click(function () {
        $.ajax({
            type:"POST",
            url:"/dologin",
            data:"name="+$("#name").val()+"&pass="+$("#pass").val(),
            success:function(res){
               switch(res){
                   case "1": alert("OK");
                       break;
                   case "-1": alert("密码错误");
                       break;
                   case "-2": alert("用户不存在");
                       break;
               }
            }
        })
    })
</script>

</body>
</html>