<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <h1><%= r[0].title %></h1>
        <p class="con"><%- r[0].content %></p>
        <h2>评论:</h2>
        <div class="comments">
        <% for(var i=r[0].comments.length;i>0;i--){%>
            <p><%= r[0].comments[i-1].body %></p>
        <% } %>
        </div>
        <form action="" method="post" style="width: 40%">
            <div class="form-group">
                <input type="hidden" name='id' id="id" value="<%= r[0]._id %>">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="comments" name="comments" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-success" id="sub">Submit</button>
        </form>
    </div>
</div>



    <script src="/js/jquery-3.1.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/underscore-noflect.js"></script>
    <script src="/js/page.js"></script>
    <script>
        $("#sub").click(function () {
            $.post("/doComments",{id:$("#id").val(),comments:$("#comments").val()},function(res){
                if(res=="1"){
                    $(".comments").prepend($("#comments").val());
                    $("#comments").val("");
                }
            })
        })
    </script>
</body>
</html>