<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<ol class="breadcrumb">
	  <li><a href="/">全部相册</a></li>
	 <!--  <li><a href="#">Library</a></li> -->
	  <li class="active"><%= albumName %></li>
	</ol>
</div>

<div class="container">
	<div class="row">
		<% for(var i=0;i<picArr.length;i++){%>
		 	<div class="col-xs-6 col-md-3">
			    <a href="#" class="thumbnail">
			      <img src="/<%= albumName %>/<%= picArr[i] %>">
			    </a>
			    <h4><%= picArr[i] %></h4>
	  		</div>
		<% } %>
	</div>
</div>


	<script src="/jq/jquery-3.1.0.min.js"></script>
	<script src='/bootstrap/js/bootstrap.min.js'></script>
</body>
</html>